body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: radial-gradient(at right center, #203757, #141639);
    width: 100vw;
}
a{
    text-decoration: none;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20%;
    margin: 4rem;
    margin-top: -2rem;
}
main section:nth-of-type(1){
    margin-top: 3.5rem;
}

h1 {
    color: rgb(255, 255, 255);
    margin:2.5rem 40%;
}

p {
    font-size: 2rem;
    margin: 2.5rem auto;
    color:  hsl(218, 22%, 64%);
}
.RSP p{
    margin-bottom: 0;
}
.RSP img{
    width: 20rem;
}
section:hover{
    cursor: pointer;
}

.rspsl {
    width: 20rem;
    height: 20rem;
}